.cursor::after {
  display: block;
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.4s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}

:root {
  background-color: #3b3d5b;
}
